[submodule "fast-multi-agent-tdd"]
	path = fast-multi-agent-tdd
	url = https://github.com/linmou/fast-multi-agent-tdd.git
[submodule "review-with-multi-debate"]
	path = review-with-multi-debate
	url = https://github.com/linmou/review-with-multi-debate.git
	branch = main
[submodule "code-smell-monitor"]
	path = code-smell-monitor
	url = https://github.com/linmou/code-smell-monitor.git
